<div id="{{username}}_user" class="heading user_box" data-user="{{username}}">
	<h1>
		<a href="http://blip.pl/users/{{username}}/dashboard/" data-action="link">
			{{username}}
			{{#realname}}
			({{realname}})
			{{/realname}}
		</a>
	</h1>
	<span class="avatar"><img width="120" height="120" src="{{user_avatar}}" alt="{{username}}"/></span>
	{{#user_location}}
	<span class="location"><img width="120" height="120" src="{{location_url}}" alt="{{user_location}}"/></span>
	<br />
	<a data-url="http://maps.google.com/?q={{user_location}}" data-action="link" href="http://maps.google.com/?q={{user_location}}">{{user_location}}</a>
	{{/user_location}}
	<br /><br />

	<a data-user="{{username}}" data-action="follow" href="#">Obserwuj</a>
	<a data-user="{{username}}" data-action="unfollow" href="#">Nie obserwuj</a>

	<a data-user="{{username}}" data-action="ignore" href="#">Ignoruj</a>
	<a data-user="{{username}}" data-action="unignore" href="#">Nie ignoruj</a>
</div>
